@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
   @Scripts.Render("~/bundles/angular")
}

<html>
<head>
    <base href="/">

</head>
    <body>
        <app-root></app-root>
    </body>
</html>
        
