<div class="col-md-6 user-container">
  <h2 class="text-center">Adicionar Cliente</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Nombres">Nombres:</label>
      <input type="text" maxlength="50" formControlName="Nombres" placeholder="Nombres" name="Nombres" class="form-control" id="Nombres">
    </div>

    <div class="form-group">
      <label for="Apellidos">Apellidos:</label>
      <input type="text" maxlength="50" formControlName="Apellidos" placeholder="Apellidos" name="Apellidos" class="form-control" id="Apellidos">
    </div>

    <div class="form-group">
      <label for="FechaNacimiento">Fecha de nacimiento:</label>
      <input type="date" formControlName="FechaNacimiento" placeholder="Fecha de nacimiento" name="FechaNacimiento" class="form-control" id="FechaNacimiento">
    </div>

    <div class="form-group">
      <label for="Cedula">Cédula:</label>
      <input type="number" maxlength="10" formControlName="Cedula" placeholder="Cédula" name="Cedula" class="form-control" id="Cedula">
    </div>

    <button class="btn btn-success">Crear</button>
  </form>
</div>
